<h1>DM Dashboard</h1>
<div class="list-row">
    {{#each characters}}   
    <div class="item dm-item">
        <a href="/character/{{this._id}}" class="item">
            <div class="inner-item">
                {{this.name}} - {{this.class}}
            </div>
            <div class="inner-item">
                <p>PF: <span id="pfC{{this._id}}">{{this.pf}}</span> / <span
                        id="pfMaxC{{this._id}}">{{this.pfMax}}</span></p>
            </div>
        </a>
        <a href="/pdf/uploads/{{this.shortName}}_{{this._id}}.pdf" class="myButton" target="_blank">View PDF</a>
    </div>  
    {{/each}}
</div>